<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title"><%= @title %></h4>
    </div>
    <% for friend in connections %>
      <%= render partial: 'connections/connection', locals: { friend: friend, user: user } %>
    <% end %>
  </div>
</div>