<div class='ep-form'>
	<%= form_for Experience.new do |f| %>
		<%= render partial: 'experience/form_fields', locals: { f: f } %>
	  <div class="">
	    <%= f.submit 'Add', :class => 'btn btn-primary' %>
	    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	                users_path, :class => 'btn btn-default' %>
	  </div>
	<% end %>
</div>