<tr>
  <td>
    <div class="ep-index__photo">
      <% if user %>
        <%= user_image(user, 'thumb', '50', '50') %>
      <% end %>
    </div>
    <div class="ep-index__meta">
      <% if user %>
        <p><%= link_to user.name, user_path(user) %></p>
      <% end %>
      <p><%= h(message.note).gsub(/\n/, '<br/>').html_safe %></p>
    </div>
  </td>
  <td class="ep_index--connection-td" >
    <div class="ep_index--connection">
      <p class="ep-index__info-right">
        <%= message.created_at.strftime('%b %e, %l:%M %p') %>
      </p>
    </div>
  </td>
</tr>
