<div id="ep-connection" class="ep-connection">
	<p>
		<%= image_tag(user.image_url, height: '40', width: '40') %>
		<%= link_to user.name, user_path(user) %>	</p>
		<% if current_user %>
			<% if (current_user.invited_by? user) && (!current_user.friend_with? user) %>
				<div class="ep-connection-choice">
					<%= link_to approve_friend_user_path(user), method: :put, class: 'ep-approve' do %>
						 <i class="fa fa-plus"></i> Approve 
					<% end %>
					&nbsp|&nbsp
					<%= link_to remove_deny_friend_user_path(user), method: :put, class: 'ep-deny' do %>
						<i class="fa fa-minus"></i> Decline
					<% end %>
				</div>
			<% end %>
		<% end %>
	<hr>
</div>