<div class="ep-profile-section-header">
	<h4>Education</h4>
</div>

<div class="ep-profile-section-body">
	<% for college in @user.colleges %>
		<%= render partial: 'college', locals: { college: college, user: @user } %>
	<% end %>
	<%# link_to "Add", add_college_college_path %>
	<a class="" data-toggle="collapse" data-target="#ep-add-college">Add</a>

	<div id="ep-add-college" class="collapse">
		<%= render :partial => '../views/college/add_form', locals: { college: @colleges } %>
	</div>
</div>
