<div class="ep-profile-section__header">
	<h4>Education</h4>
</div>

<div class="ep-profile-section__body">
	<% for college in @user.colleges %>
		<%= render partial: 'college', locals: { college: college, user: @user } %>
	<% end %>
	<% if @user == current_user %>
		<a class="" data-toggle="collapse" data-target="#ep-add-college"><i class="fa fa-plus"></i> Add</a>
	<% end %>

	<div id="ep-add-college" class="collapse">
		<%= render :partial => '../views/college/add_form', locals: { college: @colleges } %>
	</div>
</div>
