<div class="ep-profile-section__header">
	<h4>Education</h4>
</div>

<div class="ep-profile-section__body js-section-container">
	<% for college in @user.colleges %>
		<%= render partial: 'users/college', locals: { college: college, user: @user } %>
	<% end %>
	<% if @user == current_user %>
		<a class="js-edit js-edit-section-item"><i class="fa fa-plus"></i> Add</a>
	<% end %>

	<%= render :partial => '../views/colleges/add_form', locals: { college: @colleges } %>
</div>
