<div class="span12 ep-profile-header white-bg">
	
	<div class="row">
		<div class="span7 ep-user-snapshot">
			<div class="ep-profile-image">
			  <%= image_tag(@user.image_url, height: '120', width: '120') %>
			</div>

			<div class="ep-user-info">
				<h3><%= @user.name %></h3>
				<p>
					<%= best_in_place @user, :headline, :type => :input, activator: '.ep-edit-headline' %>
					<% if @user == current_user %>
						<a class="ep-edit-headline"><i class="fa fa-pencil"></i> Edit</a>
					<% end %>
				</p>
			</div>
		</div>

		<div class="span5 ep-profile-actions">
			<div class="ep-hr-line"></div>
			<p><i class="fa fa-plus"></i>&nbsp Sign in to become Adam's Connection</p>
			<p><i class="fa fa-envelope"></i> Send Adam a message</p>
			<p><i class="fa fa-file-text"></i>&nbsp Download Adam's resume</p>
			<p><i class="fa fa-folder-open"></i> View Adam's portfolio</p>
		</div>
	</div>

</div>





