<div class="ep-profile-section-header">
	<h4>
		Pro summary
		<% if @user == current_user %>
			<a class="ep-edit-pro-summary"><i class="fa fa-pencil"></i> Edit</a>
		<% end %>
	</h4>
</div>

<div class="ep-profile-section-body">
	<p><%= best_in_place user, :pro_summary, :type => :textarea, activator: '.ep-edit-pro-summary' %></p>
</div>
