<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5PlpzqBccRDDChpQkdK6JcYvgG4O9H6M">
</script>

<script type="text/javascript">

  var jobs = <%= raw @jobs.to_json %>
  var marker, myLatLong, infowindow;
  var existingMarkers = []
  var content = []

  var styles = [{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#e0efef"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"hue":"#1900ff"},{"color":"#d3d3d3"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"visibility":"on"},{"lightness":700}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#3bafda"}]}]

  function initialize() {
    var mapOptions = {
      center:  new google.maps.LatLng(40.7127, -74.0059),
      zoom: 11,
      styles: styles
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);

    for (i = 0; i < jobs.length; i++) {
      myLatLong = new google.maps.LatLng(jobs[i]['coords'][1], jobs[i]['coords'][0]);

      marker = new google.maps.Marker({
        position: myLatLong,
        map: map
      });

      attachMarker(marker, map, myLatLong, i)
    }
  }

  function attachMarker(marker, map, latLong, num) {
    var titles = jobs[num]['titles'];
    var titleLinks = '';
    var finalContentString;
    var tempContentString = '';

    jobs[num]['titles'].forEach( function(title, j) {
      console.log(jobs[num]['job_ids'][j])
      titleLinks += "<li><a href='/job_posts/" + jobs[num]['job_ids'][j] + "'>"  + title + "</a></li>"
    });

    var contentString = '<div id="content">'+
      '<div class="header">'+
      '<h4 id="firstHeading" style="color:gray">' + jobs[num]['org_name'] + '</h4>'+
      '</div>'+
      '<hr style="margin: 5px 0">'+
      '<div id="bodyContent">'+
      '<ul style="padding-left:16px;">' +
        titleLinks +
      '</ul>' +
      '</div>'+
      '</div>';

    // Lets check to see if any of the existing markers are at the same position as the current marker
    if (existingMarkers.length != 0) {
      for (k=0; k < existingMarkers.length; k++) {
        var markerPos = marker.getPosition();

        var testMarker = existingMarkers[k];
        var testMarkerPos = testMarker.getPosition();

        if (markerPos.equals(testMarkerPos)){
          tempContentString =  content[k] + " <br> " + contentString;
        }
      }
    }

    if (tempContentString.length) {
      finalContentString = tempContentString
    } else {
      finalContentString = contentString
    }

    existingMarkers.push(marker);
    content.push(finalContentString);

    infowindow = new google.maps.InfoWindow({
      maxWidth: 240
    });

    google.maps.event.addListener(marker, 'click', (function(marker, num) {
      return function() {
        infowindow.setContent(finalContentString);
        infowindow.open(map, marker);
      }
    })(marker, num));
  }
  google.maps.event.addDomListener(window, 'load', initialize);

</script>

<style type="text/css">
  #map-canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50px;
    left: 0;
    bottom: 100px;
    right: 0;
    border-top: 4px solid white
  }
</style>

<div class="ep-container">
  <div id="map-canvas"></div>
</div>