<div class="col-sm-12 ep-main-container">
  <div class="ep-terms-and-privacy white-bg" style="padding: 30px;">
    <p><h2>Privacy Policy</h2><br />
      edPeople inc. (&ldquo;edPeople&rdquo;) knows that you care about how your personal information is used and shared, and we take your privacy seriously. Please read the following to learn more about our privacy policy. By using the edPeople website located at www.edPeople.com (the &ldquo;Webite&rdquo;), you are accepting the practices outlined in this Privacy Policy.</p>
    <p><strong>What Does This Privacy Policy Cover?</strong><br />
      This Privacy Policy covers edPeople&rsquo;s treatment of personal information that edPeople gathers when you are on the Webite and when you use edPeople&rsquo;s services (the &ldquo;Services&rdquo;). This policy also covers edPeople&rsquo;s treatment of any personal information that edPeople&rsquo;s business partners share with edPeople. </p>
    <p>This policy does not apply to the practices of third parties that edPeople does not own or control, or to individuals that edPeople does not employ or manage.</p>
    <p><strong>What Personal Information About Users Does edPeople Collect?</strong><br />
      Our primary goal in collecting personal information is to provide you with a friendly, customized, and efficient experience. We collect the following types of information from our users:</p>
    <p><u>Information You Provide to Us</u><br />
      edPeople (the &ldquo;Website&rdquo;) is a professional networking community for educators. Sharing information about your professional experience, qualifications and interests and connecting and communicating with other users allows you to fully benefit from the edPeople community. </p>
    <p>By registering as an edPeople user, you permit your name and profile picture to be displayed to all registered edPeople users and non-registered visitors to the Website. As a registered edPeople user, at any time you can adjust your personal settings to limit who can view your complete edPeople profile. Your personal settings can be updated at any time in the &ldquo;Privacy&rdquo; section accessible on the main edit profile page. No matter which personal settings you select within the &ldquo;Privacy&rdquo; section, all information contained in your profile and account will be fully searchable by all edPeople users and visitors. In addition, no matter which personal settings you select within the &ldquo;Privacy&rdquo; section, your name and profile picture will always be viewable by all edPeople users and visitors.<strong> </strong></p>
    <p>We receive and store any information you enter on the Website or provide to us in any other way.  We collect and store the files you upload, download, or access through edPeople (&ldquo;Files&rdquo;).  You can choose not to provide us with certain information, but then you may not be able to take advantage of many of the Website&rsquo;s features. The personal information you provide is used for such purposes as responding to your requests for certain services, customizing the advertising and content you see, and communicating with you about our products. In order for you to use all the features available on our Website, you must register with edPeople. We require your first name, last name, and email address during the registration process. We may also request demographic information and unique identifiers in order to provide you with a more personalized service, but this information is optional. edPeople will never display your email address on the Website, however your email address is a searchable field on your user profile. This means that if another edPeople user or visitor enters your email in the search field available at <a href="http://edpeople.com/people">http://edpeople.com/people</a>, your profile will be returned among the search results. Consequently, it is possible for your email address to be associated with your user profile. </p>
    <p><u>Automatic Information</u><br />
      We receive and store certain types of information whenever you interact with us. edPeople automatically receives and records certain &quot;traffic data&quot; on our server logs from your browser including your IP address, edPeople cookie information, and the page you requested. edPeople uses this traffic data to help diagnose problems with its server, analyze trends and administer the Website.</p>
    <p>Generally, our service automatically collects usage information, such as the numbers and frequency of visitors to our Website and its components, similar to TV ratings that indicate how many people watched a particular show. This data is only used in the aggregate. This type of collective data enables us to figure out how often users use parts of the Website, so we can make the Website appealing to as many users as possible. In addition, we may provide statistical information, not information about you personally, to our partners about how our users, collectively, use our Website. We share this type of statistical data so that our partners also understand how often people use their areas and our Website, so that they, too, may provide you with an optimal web experience.</p>
    <p><u>E-mail Communications</u><br />
      We may receive a confirmation when you open an e-mail from edPeople if your computer supports this type of program, in order to help us make e-mails more interesting and helpful. We also send out e-mails with news or promotions. If you do not want to receive e-mail from us, please contact us at privacy@edPeople.com.</p>
    <p><u>Information From Other Sources</u><br />
      For purposes such as improving personalization of our service, we may receive information about you from other sources and add it to our account information. Like the information you provide to us, we do not share this information with anyone except authorized third parties in connection with providing you with our Service.<br />
       <br />
      <strong>What about Cookies?</strong><br />
      Cookies are alphanumeric identifiers that we transfer to your computer&rsquo;s hard drive through your Web browser to enable our systems to recognize your browser and tell us how and when pages in our Website are visited and by how many people. edPeople cookies do not collect personal information, and we do not combine information collected through cookies with other personal information to tell us who you are or what your name or e-mail address is.</p>
    <p>The &ldquo;help&rdquo; portion of the toolbar on the majority of browsers will direct you on how to prevent your browser from accepting new cookies, how to command the browser to tell you when you receive a new cookie, or how to fully disable cookies. We strongly recommend that you leave the cookies activated, however, because cookies enable you to take advantage of some of edPeople&rsquo;s most attractive features.</p>
    <p>Some of our business partners may use cookies on our Website (for example, advertisers). However, we have no access to or control over these cookies.</p>
    <p>We may use advertising networks to help present advertisements on our Website. These advertising networks use cookies to help present, better target, and measure the effectiveness of their advertisements, using data gathered over time and across their networks to determine the characteristics and preferences of their audience. We may share certain aggregate and non-personally-identifiable information about our users in order to help them deliver more relevant advertisements through their ad networks.<br />
       <strong>                        </strong><br />
      <strong>Will edPeople Share Any of the Information it Receives?</strong><br />
      Information about our users is an integral part of our business and helps us to improve our products and services. We neither rent nor sell your personal information to anyone. We share your personal information only as described below.</p>
    <p><u>Affiliated Business We Do Not Control</u><br />
      In certain situations, edPeople may provide services, or sell products jointly with affiliated businesses. We will share customer information that is related to such transactions with that affiliated business. We require our affiliates to provide the same level of privacy protection that we do and they do not have the right to share or use personal information for any purpose other than for an authorized transaction. edPeople may share aggregated demographic information with business partners.</p>
    <p><u>Agents</u><br />
      We employ other companies and people to perform tasks on our behalf and need to share your information with them to provide products or services to you. Examples include removing repetitive information from customer lists, analyzing data, providing marketing assistance, and providing customer service. Our agents subscribe to the same level of privacy protection as we do. Unless we tell you differently, edPeople&rsquo;s agents do not have any right to use the personal information we share with them beyond what is necessary to assist us.</p>
    <p><u>Promotional Offers</u><br />
      We may send offers to certain users on behalf of other businesses. However, when we do so, these offers will be sent from edPeople. We do not give the other business your name and address. If you do not wish to receive these offers, please e-mail us at privacy@edPeople.com.</p>
    <p><u>Information You Post on the Website</u><br />
      When you post information on the Website, your name and certain profile information are visible to other users. If you post personal information online that is accessible to the public, you may receive unsolicited messages from other parties in return, and edPeople may use information posted by you, along with your profile information, in any medium now existing or developed in the future. edPeople will use commercially reasonable efforts to attempt to notify you before using information posted by you on the Website along with your profile in other media.</p>
    <p><u>Business Transfers</u><br />
      In some cases, we may choose to buy or sell assets. In these types of transactions, user information is typically one of the business assets that is transferred. Moreover, if edPeople, or substantially all of its assets, were acquired, user information would be one of the assets that is transferred.</p>
    <p><u>Protection of edPeople and Others</u><br />
      We may release personal information when we believe in good faith that release is necessary to comply with the law; enforce or apply our conditions of use and other agreements; or protect the rights, property, or safety of edPeople, our employees, our users, or others. edPeople may disclose personal information to parties in compliance with edPeople's Copyright Policy, as edPeople in its sole discretion believes necessary or appropriate in connection with an investigation of fraud, intellectual property infringement, piracy, or other unlawful activity. In such events, edPeople may disclose your name, street address, city, state, zip code, country, phone number, and e-mail address.</p>
    <p><u>With Your Consent</u><br />
      Except as set forth above, you will be notified when your personal information may be shared with third parties.<br />
       <br />
      <strong>Is Information About Me Secure?</strong><br />
      Your edPeople account information is protected by a password for your privacy and security. We advise you to choose a complex password. You need to work to protect against unauthorized access to your password and to your computer by signing off once you have finished using a shared computer.</p>
    <p>Only employees who need personal information to perform a specific job (for example, a customer service representative) are granted access to it. All of our employees are kept up to date on our privacy and security practices.</p>
    <p>Personal information you provide will be secured in accordance with industry standards and technology. Since the internet is not a 100% secure environment, we cannot ensure or warrant the security of any information you transmit to edPeople. There is no guarantee that information may not be accessed, copied, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards. <br />
       <br />
      <strong>What Information Can I Access?</strong><br />
      edPeople allows you to access the following information about you for the singular purpose of viewing, and in certain situations, updating that information.</p>
    <p>You are able to add or update certain information. When you update information, however, we often maintain a copy of the unrevised information in our records.</p>
    <p>You may delete your edPeople account by following the account deletion process set forth on the Website. Please note that some information may remain in our records after deletion of your account.</p>
    <p>If you do not wish to receive e-mail or other mail from us, please e-mail us at privacy@edPeople.com. Please note that if you do not want to receive legal notices from us, such as this Privacy Policy, those legal notices will still govern your use of the Website, and you are responsible for reviewing such legal notices for changes.</p>
    <p>As explained earlier, the &ldquo;help&rdquo; portion of the toolbar on the majority of browsers will direct you on how to prevent your browser from accepting new cookies, how to command the browser to tell you when you receive a new cookie, or how to fully disable cookies. Please note, however, that if do not allow cookies, you will not be able to take advantage of some of our features.<br />
      As stated previously, you can always opt not to disclose information, even though it may be needed to take advantage of certain edPeople features.<br />
       <br />
      <strong>Can Children Use edPeople&rsquo;s Services?</strong><br />
      edPeople is not intended for children. Children under the age of 18 are not eligible to use our service.</p>
    <p><strong>What are Users&rsquo; Obligations to Other Users?</strong><br />
      Do not abuse the edPeople service by using it to spam, abuse, harass, or otherwise violate the User Agreement or Privacy Policy. </p>
    <p><strong>Conditions of Use</strong><br />
      If you decide to visit the Website, your visit and any possible dispute over privacy is subject to this Privacy Policy and our Terms and Conditions, including limitations on damages, arbitration of disputes, and application of New York state law.<br />
       <br />
      <strong>Third Party Websites</strong><br />
      The Website may permit you to link to other websites on the Internet, and other websites may contain links to the Website. These other websites are not under edPeople&rsquo;s control. The privacy and security practices of websites linked to or from the Site are not covered by this Privacy Policy, and edPeople is not responsible for the privacy or security practices or the content of such websites.<br />
       <br />
      <strong>Changes to this Privacy Policy</strong><br />
      edPeople may amend this Privacy Policy. Use of information we collect now is subject to the Privacy Policy in effect at the time such information is used. If we make changes to our privacy policy, we will notify you by posting an announcement on our Website or by providing you with notice (for example, by email) so you are always aware of what information we collect, how we use it, and under what circumstances if any, it is disclosed.<br />
       <br />
      <strong>Questions or Concerns</strong><br />
      If you have any questions or concerns regarding privacy at edPeople, please send us a detailed message to privacy@edPeople.com or to <br />
      edPeople, Inc. <br />
      Attn: Privacy Policy Issues<br />
      11-12 47th Avenue Suite 2R<br />
      Long Island City, NY 11101 <br />
      USA</p>
    <p>Your privacy is important to us and we will make every effort to resolve your concerns.<br />
       <br />
      Last Updated: March 19, 2013</p>
  </div>
</div>