<style type="text/css">
  blockquote {
    border-left: 0px; /* Override bootstrap */
    margin: 0px;
    font-size: 14px;
  }
</style>

<div class="col-sm-12 ep-main-container">
  <div class="ep-terms-and-privacy white-bg" style="padding: 30px;">
    <h2 class="pane-title">Terms of Use</h2>
    Please read this agreement carefully before using the services. By using the website www.edPeople.com (the &ldquo;Website&rdquo;), you signify your assent to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, you do not have any right to use the services. edPeople&rsquo;s acceptance is expressly conditioned upon your assent to all the terms and conditions of this agreement, to the exclusion of all other terms; if these terms and conditions are considered an offer by edPeople, acceptance is expressly limited to these terms.
    <br><br>
    The purpose of edPeople is to enable New York City&rsquo;s educators to exchange ideas, share opportunities and build and maximize their professional networks (the &ldquo;Services&rdquo;). The Site is accessed by you (&ldquo;User&rdquo; or &ldquo;you&rdquo;) under the following terms and conditions:
    <br><br>
    <ol>
    <li>
    <strong>ACCESS TO THE SERVICES.</strong>
    <br>
    Subject to the terms and conditions of this Agreement, edPeople may offer to provide the Services, as described more fully on the Website, and which are selected by you, solely for your own use, and not for the use or benefit of any third party. Services shall include, but not be limited to, any services edPeople performs for you, as well as the offering of any materials displayed or performed on the Website (including, but not limited to text, graphics, news articles, photographs, images, illustrations, uploaded files of any kind, audio clips and video clips, also known as the &quot;Content&quot;) on the Website. edPeople may change, suspend or discontinue the Services including any Content for any reason, at any time, including the availability of any feature, database, or content. edPeople may also impose limits on certain features and services or restrict your access to parts or all of the Services without notice or liability. edPeople reserves the right, at its discretion, to modify this Agreement or the Content at any time by posting a notice on the Website, or by sending you a notice via e-mail or postal mail. You shall be responsible for reviewing and becoming familiar with any such modifications. Your use of the Services following such notification constitutes your acceptance of the terms and conditions of this Agreement as modified.
    <br><br>
    You certify to edPeople that if you are an individual (i.e., not a corporation) you are at least 18 years of age. You also certify that you are legally permitted to use the Services and access the Website, and take full responsibility for the selection and use of the Services and access of the Website. This Agreement is void where prohibited by law, and the right to access the Website is revoked in such jurisdictions.
    <br><br>
        edPeople will use reasonable efforts to ensure that the Website and Services are available twenty-four hours a day, seven days a week. However, there will be occasions when the Website and/or Services will be interrupted for maintenance, upgrades and emergency repairs or due to failure of telecommunications links and equipment. Every reasonable step will be taken by edPeople to minimize such disruption where it is within edPeople&rsquo;s reasonable control. YOU AGREE THAT NEITHER EDPEOPLE NOR THE WEBSITE WILL BE LIABLE IN ANY EVENT TO YOU OR ANY OTHER PARTY FOR ANY SUSPENSION, MODIFICATION, DISCONTINUANCE OR LACK OF AVAILABILITY OF THE WEBSITE, THE SERVICES, YOUR USER CONTENT (AS DEFINED HEREIN) OR OTHER CONTENT.
    <br><br>
    You shall be responsible for obtaining and maintaining any equipment or ancillary services needed to connect to, access the Website or otherwise use the Services, including, without limitation, modems, hardware, software, and long distance or local telephone service. You shall be responsible for ensuring that such equipment or ancillary services are compatible with the Services.
    <br><br>
    </li>
    <li>
      <strong>ACCOUNT.</strong>
      <br>
      You are fully responsible for all activities that occur under your account and any other actions taken in connection with your account. You must not describe or assign keywords to your account in a misleading or unlawful manner, including in a manner intended to trade on the name or reputation of others, and edPeople may change or remove any description or keyword that it considers inappropriate or unlawful, or otherwise likely to cause edPeople liability. You must immediately notify edPeople of any unauthorized uses of your account or any other breaches of security. edPeople will not be liable for any acts or omissions by You, including any damages of any kind incurred as a result of such acts or omissions.
    <br><br>
    </li>
    <li>
    <strong>WEBSITE CONTENT.</strong>
    <br>
    You may download or copy the Content, and other items displayed on the Website for download, for personal use only, provided that you maintain all copyright and other notices contained in such Content. You shall not store any significant portion of any Content in any form. Copying or storing of any Content for other than personal, noncommercial use is expressly prohibited without prior written permission from edPeople, or from the copyright holder identified in such Content's copyright notice. This Agreement does not transfer from edPeople to you any edPeople or third party intellectual property, and all right, title and interest in and to such property will remain (as between the parties) solely with edPeople. All trademarks, service marks, and trade names which appear on the Website (other than those appearing in any Content posted by a User) are proprietary to edPeople and/or third parties. Your use of the Website grants you no right or license to reproduce or otherwise use any edPeople or third-party trademarks. You shall abide by all copyright notices, information, and restrictions contained in any Content accessed through the Services.
    <br><br>
    The Website is protected by copyright as a collective work and/or compilation, pursuant to U.S. copyright laws, international conventions, and other copyright laws. You may not modify, publish, transmit, participate in the transfer or sale of, reproduce (except as provided in this Section of the Agreement), create derivative works based on, distribute, perform, display, or in any way exploit, any of the Content, software, materials, or Services in whole or in part. You acknowledge and agree that if you use any of the Services to contribute Content to the Website (&ldquo;User Content&rdquo;), edPeople is hereby granted a non-exclusive, perpetual, worldwide, royalty-free, transferable, sublicensable right to use, reproduce, publicly display, publicly perform, adapt, collect, modify, delete from, distribute, transmit and make derivative works of such User Content (including all related intellectual property rights) in connection with offering, providing, marketing and promoting the Website and Service, in any medium now existing or developed in the future. You acknowledge and agree that User Content is intended to and will be made available to, and may be used by, other users. edPeople will use commercially reasonable efforts to attempt to notify you before using User Content posted by you on the Website along with your profile information in other media.
    <br><br>
    Notwithstanding the foregoing, the Service may provide you with the ability to remove some or all of your User Content. Following any such removal, edPeople will use commercially reasonable efforts to discontinue any further display, performance and distribution of that content by edPeople at the Website; provided, however, you acknowledge and agree that edPeople may continue using such User Content in the same manner and for the same purposes as it did prior to removal (such as, for example, User Content used in any advertising created prior to removal) and that edPeople shall have no responsibility or liability in respect of any User Content that has been shared with other users via the Service or that has been downloaded or copied by other users to other websites, systems and devices.
    <br><br>
    To the extent allowed by law, the foregoing includes all rights of paternity, integrity, disclosure and withdrawal and any other rights that may be known as or referred to as &ldquo;Moral Rights.&rdquo; To the extent you retain any such Moral Rights under applicable law, you hereby ratify and consent to any action that may be taken with respect to such moral rights by edPeople and agree not to assert any Moral Rights with respect thereto. You warrant, represent and agree that you have the right to grant edPeople and the Website the rights set forth above. If you create and operate an edPeople account; create, join, or post on group pages; create or respond to job postings; send messages to other users via the Website; post material to any part of the Website, including your account; post links on the Website, or otherwise make (or allow any third party to make) material available by means of the Website (any such material, &ldquo;Content&rdquo;), you are entirely responsible for the content of, and any harm resulting from, that Content. That is the case regardless of whether the Content in question constitutes text, graphics, a file uploaded in any format, an audio file, or computer software. By making Content available, you represent, warrant and agree that:
    <br>
    <blockquote><blockquote>
    <ol type="a">
      <li>
        the downloading, copying and use of the Content will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark or trade secret rights, of any third party;
      </li>
      <li>
        the Content does not reveal any trade secret, unless you own the trade secret or have the owner&rsquo;s permission to post it
      </li>
      <li>
        the Content does not infringe any intellectual property right of another or the privacy or publicity rights of another
      </li>
      <li>
        if your employer has rights to intellectual property you create, you have either (i) received permission from your employer to post or make available the Content, including but not limited to any software, or (ii) secured from your employer a waiver as to all rights in or to the Content;
      </li>
      <li>
        you have fully complied with any third-party licenses relating to the Content, and have done all things necessary to successfully pass through to end users any required terms;
      </li>
      <li>
        the Content does not contain or install any viruses, worms, malware, Trojan horses or other harmful or destructive content;
      </li>
      <li>
        the Content is not spam, is not machine- or randomly-generated, and does not contain unethical or unwanted commercial content designed to drive traffic to third party sites or boost the search engine rankings of third party sites, or to further unlawful acts (such as phishing) or mislead recipients as to the source of the material (such as spoofing);
      </li>
      <li>
        the Content is not pornographic, obscene, libelous, does not contain threats or incite violence, and does not violate the legal, privacy or publicity rights of any third party;
      </li>
      <li>
        your account or group is not getting advertised via unwanted electronic messages such as spam links on newsgroups, email lists, other blogs and web sites, and similar unsolicited promotional methods;
      </li>
      <li>
        your account or group is not named in a manner that misleads your readers into thinking that you are another person or company. For example, your account&rsquo;s name is not the name of a person other than yourself or company other than your own; and
      </li>
      <li>
        you have, in the case of Content that includes computer code, accurately categorized and/or described the type, nature, uses and effects of the materials, whether requested to do so by edPeople or otherwise;
      </li>
      <li>
        you will not contribute any User Content that remains posted after you have been notified that such User Content violates any of sections (a) to (k) stated above.
      </li>
    </ol>
    </blockquote></blockquote>
    edPeople reserves the right to remove any User Content from the Website at any time, for any reason (including, but not limited to, upon receipt of claims or allegations from third parties or authorities relating to such User Content or if edPeople is concerned that you may have breached the immediately preceding sentence), or for no reason at all. You are responsible for all User Content posted or developed under your username(s), including User Content contributed by a third party whom you have authorized to post User Content under your username (whether in the form of comments to a Group or any other form). If you believe User Content residing on the Website infringes a copyright, please see our <a href="#copy">Copyright Policy.</a>
    <br><br>
    Any comments, suggestions, or feedback relating to the Website or the Services (collectively &ldquo;Feedback&rdquo;) submitted to edPeople shall become the property of edPeople or its designee. edPeople will not be required to treat any Feedback as confidential, and will not be liable for any ideas (including without limitation, product, Website or advertising ideas) and will not incur any liability as a result of any similarities that may appear in our future Website, Services, or operations. Without limitation, edPeople will have exclusive ownership of all present and future existing rights to the Feedback of every kind and nature everywhere and will be entitled to use the Feedback for any commercial or other purpose whatsoever, without compensation to you or any other person sending the Feedback. You acknowledge that you are responsible for whatever material you submit, and you, not edPeople, have full responsibility for the message, including its legality, reliability, appropriateness, originality, and copyright.
    <br><br>
    </li>
    <li>
    <strong>RESTRICTIONS.</strong>
    <br>
    You are responsible for all of your activity in connection with the Services and accessing the Website. You may not post or transmit, or cause to be posted or transmitted, any communication or solicitation designed or intended to obtain password, account, or private information from any edPeople user.
    <br><br>
    You shall not use any part of the Website or Services to violate the security of any computer network, crack passwords or security encryption codes, transfer or store material that is deemed threatening or obscene, or engage in any kind of illegal activity. You will not run Maillist, Listserv, any form of auto-responder, or spam on the Site, or any processes that run or are activated while you are not logged in.<br>
    <br>
    </li>
    <li>
    <strong>RESPONSIBILITY OF WEBSITE VISITORS.</strong>
    <br>
    edPeople has not reviewed, and cannot review, all of the material, including computer software, posted to the Website, and cannot therefore be responsible for that material&rsquo;s content, use or effects. By operating the Website, edPeople does not represent or imply that it endorses the material there posted, or that it believes such material to be accurate, useful or non-harmful. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content. The Website may contain content that is offensive, indecent, or otherwise objectionable, as well as content containing technical inaccuracies, typographical mistakes, and other errors. The Website may also contain material that violates the privacy or publicity rights, or infringes the intellectual property and other proprietary rights, of third parties, or the downloading, copying or use of which is subject to additional terms and conditions, stated or unstated. edPeople disclaims any responsibility for any harm resulting from the use by visitors of the Website, or from any downloading by those visitors of content there posted.<br>
    <br>
    </li>
    <li>
    <strong>WARRANTY DISCLAIMER.</strong>
    <br>
    edPeople has no special relationship with or fiduciary duty to you. You acknowledge that edPeople has no control over, and no duty to take any action regarding: which users gain access to the Site; what Content you access via the Site; what effects the Content may have on you; how you may interpret or use the Content; or what actions you may take as a result of having been exposed to the Content. You release edPeople from all liability for your having acquired or not acquired Content through the Website. The Website may contain, or direct you to sites containing, information that some people may find offensive or inappropriate. edPeople makes no representations concerning any content contained in or accessed through the Website, and edPeople will not be responsible or liable for the accuracy, copyright compliance, legality or decency of material contained in or accessed through the Site. THE SERVICES, CONTENT, WEBSITE AND ANY SOFTWARE ARE PROVIDED ON AN &quot;AS IS&quot; BASIS, WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT. SOME STATES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.
     <br><br>
    TO THE FULLEST EXTENT ALLOWED BY LAW, EDPEOPLE DISCLAIMS ANY LIABILITY OR RESPONSIBILITY FOR THE ACCURACY, RELIABILITY, AVAILABILITY, COMPLETENESS, LEGALITY OR OPERABILITY OF THE MATERIAL OR SERVICES PROVIDED ON THIS WEBSITE. BY USING THIS WEBSITE, YOU ACKNOWLEDGE THAT EDPEOPLE IS NOT RESPONSIBLE OR LIABLE FOR ANY HARM RESULTING FROM (1) USE OF THE WEBSITE; (2) DOWNLOADING INFORMATION CONTAINED ON THE WEBSITE; (3) UNAUTHORIZED DISCLOSURE OF IMAGES, INFORMATION OR DATA THAT RESULTS FROM THE UPLOAD, DOWNLOAD OR STORAGE OF CONTENT POSTED BY USERS; (4) THE TEMPORARY OR PERMANENT INABILITY TO ACCESS OR RETRIEVE ANY USER CONTENT FROM THE WEBSITE, INCLUDING, WITHOUT LIMITATION, HARM CAUSED BY VIRUSES, WORMS, TROJAN HORSES, OR ANY SIMILAR CONTAMINATION OR DESTRUCTIVE PROGRAM; (5) CONTENT POSTED IN ANY FORUM, GROUP OR COMMUNITY AREA OF THE WEBSITE; AND (6) UNAUTHORIZED DISCLOSURE OF IMAGES, INFORMATION OR DATA THAT RESULTS FROM THE UPLOAD, DOWNLOAD OR STORAGE OF POSTED CONTENT.
    <br><br>
    </li>
    <li>
    <strong>THIRD PARTY WEBSITES.</strong>
    <br>
    Users of the Website may gain access from the Website to third party sites on the Internet through hypertext or other computer links on the Website. edPeople has not reviewed, and cannot review, all of the material, including computer software, made available through the websites and webpages to which edPeople.com links, and that link to edPeople.com . Third party sites are not within the supervision or control of edPeople or the Website and edPeople is not responsible for their contents or their use. Unless explicitly otherwise provided, neither edPeople nor the Website make any representation or warranty whatsoever about any third party site that is linked to the Website, or endorse the products or services offered on such site. edPeople and the Website disclaim: (a) all responsibility and liability for content on third party websites and (b) any representations or warranties as to (i) the security of any information (including, without limitation, credit card and other personal information) you might be requested to give any third party, and (ii) the functionality of third party sites if you export User Content onto them. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content. You hereby irrevocably waive any claim against the Website or edPeople with respect to third party sites and third party content.
    <br><br>
    </li>
    <li>
    <strong>REGISTRATION AND SECURITY</strong>
    <br>
    edPeople cannot guarantee that all use of the Website will be secure. edPeople also does not guarantee that the Website or any content provided on the Website is error free. As a condition to using certain of the Services, you may be required to register with edPeople and select a password. You shall provide edPeople with accurate, complete, and updated registration information. Failure to do so shall constitute a breach of this Agreement, which may result in immediate termination of your account. You may not (i) select or use the name of another person with the intent to impersonate that person; or (ii) use as your name a name subject to any rights of a person other than you without appropriate authorization. edPeople reserves the right to refuse registration of, or cancel a username in its discretion. You shall be responsible for maintaining the confidentiality of your edPeople password.
    <br><br>
    You hereby irrevocably authorize edPeople to disclose your personally identifiable information at the request of any state or federal agency or in response to any judicial process (including, without limitation, a subpoena).
    <br><br>
    </li>
    <li>
    <strong>GENERAL REPRESENTATION AND WARRANTY</strong>
    <br>
    You represent and warrant that (i) your use of the Website will be in strict accordance with the edPeople Privacy Policy, with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside) and (ii) your use of the Website will not infringe or misappropriate the intellectual property rights of any third party.
    <br><br>
    </li>
    <li>
    <strong>INDEMNITY.</strong>
    <br>
    You will indemnify and hold edPeople, its director, officers and employees, harmless, including costs and attorneys' fees, from any claim or demand made by any third party due to or arising out of your access to the Website, use of the Services, your violation of this Agreement, or your infringement, or the infringement by any third party using your account, of any intellectual property or other right of any person or entity.
    <br><br>
    </li>
    <li>
    <strong>LIMITATION OF LIABILITY.</strong>
    <br>
    IN NO EVENT SHALL EDPEOPLE, ITS DIRECTORS, OFFICERS, SHAREHOLDERS, EMPLOYEES OR MEMBERS BE LIABLE WITH RESPECT TO THE WEBSITE OR THE SERVICES FOR (A) ANY INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER; (B) DAMAGES FOR LOSS OF USE, PROFITS, DATA, IMAGES, USER CONTENT OR OTHER INTANGIBLES; (C) DAMAGES FOR UNAUTHORIZED USE, NON-PERFORMANCE OF THE W, ERRORS OR OMISSIONS; OR (D) DAMAGES RELATED TO DOWNLOADING OR POSTING CONTENT. EDPEOPLE&rsquo;S AND THE WEBSITE&rsquo;S COLLECTIVE LIABILITY UNDER THIS AGREEMENT SHALL BE LIMITED TO THREE HUNDRED UNITED STATES DOLLARS. SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO USER.
    <br><br>
    </li>
    <li>
    <strong>CHANGES TO THE TERMS OF USE AND THE WEBSITE.</strong>
    <br>
    edPeople reserves the right, at its sole discretion, to modify or replace any part of this Agreement. It is your responsibility to check this Agreement periodically for changes. Your continued use of or access to the Website following the posting of any changes to this Agreement constitutes acceptance of those changes. edPeople may also, in the future, offer new services and/or features through the Website (including, the release of new tools and resources). Such new features and/or services shall be subject to the terms and conditions of this Agreement.
    <br><br>
    </li>
    <li>
    <strong>TERMINATION.</strong>
    <br>
    edPeople may terminate any and all Services and your access to all or any part of the Website at any time, with or without cause, with or without notice, effective immediately. Upon termination of your account, your right to use the Services, access the Website and any Content will immediately cease.  If you wish to terminate this Agreement or your edPeople.com account (if you have one), you may simply discontinue using the website or complete the following steps: (1) log in to your account; (2) select the &ldquo;Edit&rdquo; tab within your profile page; (3) select &ldquo;cancel account&rdquo; at the bottom of the page and follow the instructions provided. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
    <br><br>
    </li>
    <li>
    <strong>ADVERTISEMENTS.</strong>
    <br>
    edPeople reserves the right to display advertisements on your profile or group page unless you have purchased an Ad-free Upgrade or a VIP Services account.
    <br><br>
    </li>
    <li>
    <strong>PRIVACY.</strong>
    <br>
    Please review our <a href="privacy">Privacy Policy</a>, which governs the use of personal information on the Website and to which you agree to be bound as a user of the Website.
    <br><br>
    </li>
    <li>
    <strong>MISCELLANEOUS.</strong>
    <br>
    The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder. edPeople shall not be liable for any failure to perform its obligations hereunder where such failure results from any cause beyond edPeople&rsquo;s reasonable control, including, without limitation, mechanical, electronic or communications failure or degradation. If any provision of this Agreement is found to be unenforceable or invalid, that provision shall be limited or eliminated to the minimum extent necessary so that this Agreement shall otherwise remain in full force and effect and enforceable. This Agreement is not assignable, transferable or sublicensable by you except with edPeople&rsquo;s prior written consent. edPeople may transfer, assign or delegate this Agreement and its rights and obligations without consent. This Agreement shall be governed by and construed in accordance with the laws of the State of New York without regard to the conflict of laws provisions thereof. Both parties agree that this Agreement (including the Privacy Policy) is the complete and exclusive statement of the mutual understanding of the parties and supersedes and cancels all previous written and oral agreements, communications and other understandings relating to the subject matter of this Agreement. No agency, partnership, joint venture, or employment is created as a result of this Agreement and you do not have any authority of any kind to bind edPeople in any respect whatsoever. Any notice to the Website that is required or permitted by this Agreement shall be in writing and shall be deemed effective upon receipt, when sent by confirmed e-mail to support@edpeople.com or when delivered in person by nationally recognized overnight courier or mailed by first class, registered or certified mail, postage prepaid, to edPeople Inc, 11-12 47th Avenue, Long Island City, NY 11101. Fax: 845.358.2389 Attn: Legal Dept.
    <br><br>
    </li>
    </ol>
    Copyright 2013 EdPeople Inc. All rights reserved.
    <br><br>
    <a name="copy"></a>
    <strong>COPYRIGHT POLICY</strong>
    <br>
    edPeople has adopted the following general policy toward copyright infringement in accordance with the Digital Millennium Copyright Act (<a href="http://lcweb.loc.gov/copyright/legislation/dmca.pdf">http://lcweb.loc.gov/copyright/legislation/dmca.pdf</a>). The address of edPeople&rsquo;s Designated Agent to Receive Notification of Claimed Infringement (&ldquo;Designated Agent&rdquo;) is listed at the end of this policy. It is edPeople&rsquo;s policy to (1) block access to or remove Content that it believes in good faith to be copyrighted material that has been illegally copied and distributed by any of our advertisers, affiliates, content providers, members or Users; and (2) remove and discontinue service to repeat offenders. If you believe that Content residing on or accessible through the Website or Service infringes a copyright, please send a notice of copyright infringement by facsimile or regular mail (not e-mail) to edPeople, Inc., Attn: Copyright Agent, 11-12 47th Avenue Suite 2R, Long Island City, NY 11101. Fax: 845.358.2389, containing the following information:
    <br>
    <blockquote><blockquote>
    <ul>
      <li>
        A physical or electronic signature of a person authorized to act on behalf of the owner of the copyright that has been allegedly infringed;
      </li>
      <li>
        Identification of works or materials being infringed;
      </li>
      <li>
        Identification of the Content that is claimed to be infringing including information regarding the location of the Content that the copyright owner seeks to have removed, with sufficient detail so that edPeople is capable of finding and verifying its existence;
      </li>
      <li>
        Contact information about the notifier including address, telephone number and, if available, e-mail address;
      </li>
      <li>
        A statement that the notifier has a good faith belief that the Content is not authorized by the copyright owner, its agent, or the law; and
      </li>
      <li>
        A statement made under penalty of perjury that the information provided is accurate and the notifying party is authorized to make the complaint on behalf of the copyright owner.
      </li>
    </ul>
    </blockquote></blockquote>
    Once proper infringement notification is received by the Designated Agent, it is edPeople&rsquo;s policy to remove or disable access to the infringing Content and to notify the Content provider or User that it has removed or disabled access to the Content; that repeat offenders will have the infringing Content removed from the Service and that edPeople will terminate such content provider&rsquo;s or User&rsquo;s access to the Website and the Service.
    <br><br>
    In the event that edPeople notifies User that edPeople has received proper infringement notification about User&rsquo;s Content, User may elect to send edPeople a counter notice.
    <br><br>
    Please note that under Section 512(f) of the Copyright Act, any person who knowingly materially misrepresents that material or activity was removed or disabled by mistake or misidentification may be subject to liability.
    <br><br>
    The process for counter-notifications is governed by Section 512(g) of the Digital Millennium Copyright Act: <a href="http://www.copyright.gov/legislation/dmca.pdf">http://www.copyright.gov/legislation/dmca.pdf</a>
    <br><br>
    To file a counter notification with edPeople, User must provide the following items to us in writing:
    <br>
    <blockquote><blockquote>
    <ol>
      <li>
        The specific URLs of material that edPeople has removed or to which edPeople has disabled access.
      </li>
      <li>
        User&rsquo;s name, address, telephone number, and email address.
      </li>
      <li>
        A statement that User consent to the jurisdiction of Federal District Court for the judicial district in which your address is located (or New York County, New York if your address is outside of the United States), and that User will accept service of process from the person who provided notification under subsection (c)(1)(C) or an agent of such person.
      </li>
      <li>
        The following statement: &quot;I swear, under penalty of perjury, that I have a good faith belief that the material was removed or disabled as a result of a mistake or misidentification of the material to be removed or disabled.&quot;
      </li>
      <li>
        User&rsquo;s signature.
      </li>
    </ol>
    </blockquote></blockquote>
    Send the written communication to the following address:
    <br>
    <blockquote>
      edPeople Inc.
      <br>
      11-12 47th Avenue Suite 2R, Long Island City, NY 11101.
      <br>
      Attn: DMCA Counter-Notification
      </blockquote>
      <br>

    Tel:  845.825.4306
    <br>
    Fax:  845.358.2389
    <br>
    Email: legal@edpeople.com
    <br><br>
    After we receive User&rsquo;s counter-notification, we will forward it to the party who submitted the original claim of copyright infringement. Please note that when we forward the counter-notification, it includes User&rsquo;s personal information. By submitting a counter-notification, User consents to having User&rsquo;s information revealed in this way. We will not forward the counter-notification to any party other than the original claimant.
    <br><br>
    After we send out the counter-notification, the claimant must notify us within ten (10) days that he or she has filed an action seeking a court order to restrain you from engaging in infringing activity relating to the material on edPeople. If we receive such notification we will not display, distribute or otherwise exploit the material. If we do not receive such notification, we may elect to do so.
  </div>
</div>