body#ep {
	background-color: $ep-light-gray;
	color: $ep-deep-gray;
	a { 
		color: $ep-links; 
		cursor: pointer;
		text-decoration: none;
	}
	a:hover {
		color: $ep-light-blue; 
	}
	.white-bg {
		background-color: white;
	}
}