@import 'config';

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto;
    margin: 0 auto -100px;
    padding-bottom: 100px;
}
.footer {
    height: 100px;
}

.ep-bold {
	font-weight: bold;
}

body#ep {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
	background-color: $ep-light-gray;
	color: rgb(52, 73, 94);
	.container {
		// margin-left: 10px;
	}
	table {
		tbody {
			tr {
				td {
					border-top: none;
					border-bottom: 1px solid #ddd;
				}
			}
		}
	}
	a {
		color: $ep-links;
		cursor: pointer;
		text-decoration: none;
	}
	a:hover {
		color: $ep-light-blue;
	}
	.white-bg {
		background-color: white;
	}
	.right {
		float: right;
		clear: both;
	}
	.ep-main-container {
		margin-top: 80px;
	}
	.footer {
		background-color: $blue-jeans;
		color: white;
		margin-top: 30px;
		padding: 20px 0px 0px 30px;
		height: 100px;
		p {
			span {
				margin-right: 10px;
			}
		}

	}
	.ep-filter-label {
		font-weight: normal !important;
	}
}

.btn-primary {
  background-color: #96ceb4;
  border-color: #96ceb4;
}
.btn-primary:hover {
  border-color: darken(#96ceb4, 5%);
  background-color: darken(#96ceb4, 5%);
}

// INDEX PAGES

.ep-index {
	margin-left: 30px;
}

a.ep-index__connect {
	margin-top: 16px;
}

.ep_index--connection {
	width: 110px;
	border-left: 1px solid #ddd;
	padding-left: 5px;
}

.ep-index__info-right {
	width: 200px;
	color: $ep-mid-gray;
	font-size: 12px !important;
}

.ep-index__photo {
	float: left;
	img {
		border-radius: 4px;
	}
}

.ep-connection__photo {
	img {
		border-radius: 4px;
	}
}

.ep-index__meta {
	float: left;
	line-height: 16px;
	width: 450px;
	margin: 0px 0px 0px 10px;
	p {
		margin: 0;
		line-height: 18px;
	}
}

.ep-index__meta-content {
	color: $ep-mid-gray;
	font-size: 12px;
}

.ep-search, .ep-similar-jobs {
	padding: 20px;
	font-size: 12px;
	h4	{
		padding: 10px 0px 5px 0px;
		border-bottom: 1px solid $ep-light-gray;
	}
}

.ep-index__table {
	tr {
		height: 90px;
		td {
			padding-top: 18px !important;
		}
	}
}

.ep-search__filter-item {
	margin-bottom: 10px;
}

.ep-search__button {
  margin-top: 4px;
}

.ep-edit-resume-options {
	display: none;
}

.ep-index__description {
	color: $ep-mid-gray;
}

