<div style="width:100%; height:44px; background-color:#3bafda">
  <p style="font-family:sans-serif; margin-left:30px; line-height: 44px;; color:white; font-size:18px">edPeople</p>
</div>
<p>Hi <%= @user.as_org ? @user.org.name : @user.first_name %>,</p>

<p>
  <% if @user.as_org %>
    The new edPeople has arrived! You'll find an improved interface, better search and profile editing capabilities, and easier job posting (just in time for those last minute openings!).
  <% else %>
    The new edPeople has arrived! You'll find an improved interface, better search and profile editing capabilities, and more jobs than ever.
  <% end %>
</p>

<p>
  Before you get started using the new edPeople, you'll need to change your password. Simply sign in at <%= link_to 'edpeople.com', new_session_url(@user) %> with the temporary password listed below and then follow the short prompts.
</p>

<p>
  Username: <%= @user.email %><br>
  Password: <%= @password %>
</p>

<p>
  See you on edPeople!
</p>

<p>
  The edPeople Team
</p>