//               __
//   _________  / /___  __________
//  / ___/ __ \/ / __ \/ ___/ ___/
// / /__/ /_/ / / /_/ / /  (__  )
// \___/\____/_/\____/_/  /____/
//
//

// --------------------------------
// eP COLORS
// --------------------------------

$ep-blue: #336699;
$ep-orange: #e67e22;
$ep-light-blue: #0088cc;
$ep-light-gray: #e9eaec;
$ep-deep-gray: #404040;
$ep-blue-gray: #f8f8f8;
$ep-mid-gray: #808080;
$ep-green: #27ae60;

  // Bootflat colors
  $blue-jeans: #3BAFDA;
  $blue-jeans-light: #4FC1E9;


  // COLOR ASSIGNMENTS
  $ep-body-bg:                 $ep-light-gray;
  $ep-links:                   $blue-jeans;
  $ep-links-hover:             $ep-orange;
  $ep-profile-section-header:  $ep-blue-gray;



