//               _      _
//    ____ ___  (_)  __(_)___  _____
//   / __ `__ \/ / |/_/ / __ \/ ___/
//  / / / / / / />  </ / / / (__  )
// /_/ /_/ /_/_/_/|_/_/_/ /_/____/
//
//
//


// Hide Text (http://nicolasgallagher.com/another-css-image-replacement-technique/)
@mixin hide-text {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

// Progress Circles
// TODO: ctruelson: figure out a way to do this in CSS, IE8 compatible
// Current progress sprite is at ~20kb.
// $size-offset is to get the center of the sprite's progresses into the center of the circle.
@mixin progress-circle($size-offset) {
  background-image: image-url('xpand-progress-sprite.png');
  background-repeat: no-repeat;
  &.progress-0 {
    background-position: center top;
  }
  @for $i from 1 through 20 {
    $offset: 200;
    $new-y: (-1 * ($offset * $i)) - $size-offset;
    &.progress-#{$i} {
      background-position: center #{$new-y}px;
    }
  }
}

@mixin disable-selection-background {
  &::selection {
    background-color: transparent;
  }
  &::-moz-selection {
    background-color: transparent;
  }
}