@import 'config';

input, textarea {
	padding: 8px;
	border: 2px solid $ep-light-gray;
}

.ep-form {
	background-color: $ep-blue-gray;
	padding: 40px;
	textarea {
		width: 100%;
	}
}

.ep-form__text-field {
	width: 70%;
}

.ep-form__profile-form-field {
	margin: 10px 0;
}

.ep-form__inline-block {
	display: inline;
}

.ep-form__small-input	{
	float: left;
	margin-right: 20px;
}

.ep-form__small-input input {
	width: 120px;
}

.ep-form__clear {
	clear: both;
}

.ep-location input {
	width: 120px;
}

.ep-college-name {
	font-weight: bold;
	margin-bottom: 10px;
}

