@import 'config';

input, textarea {
	padding: 8px;
	border: 2px solid $ep-light-gray;
}

.ep-form {
	background-color: $ep-blue-gray;
	padding: 20px 30px;
	textarea {
		width: 100%;
	}
}

.ep-form__text-field {
	width: 70%;
}

.ep-form__label {
	color: $ep-mid-gray;
}

.ep-form__profile-form-field {
	margin: 10px 0;
}

.ep-form__inline-block {
	display: inline;
}

.ep-form__small-input	{
	float: left;
	margin-right: 20px;
}

.ep-form__small-input input {
	width: 120px;
}

.ep-form__clear {
	clear: both;
}

.ep-location input {
	width: 120px;
}

.ep-college-name {
	font-weight: bold;
	margin-bottom: 10px;
}

.ep-edit-form {
	display: none;
}

// Profile image upload
.ep-profile-image__upload-fields {
	position: relative;
	overflow: hidden;
	margin: 10px 0px;
	width: 75px;
}

.ep-profile-image__file-field, .ep-resume__file-field {
	position: absolute;
	font-size: 20px;
	cursor: pointer;
	z-index: -1;
	opacity: 0;
	filter: alpha(opacity=0);
}

.ui-autocomplete {
	background-color: white !important;
	border: 2px solid $ep-light-gray !important;
	list-style: none;
	padding: 0px;
	li {
		line-height: 24px;
		padding-left: 5px;
		background: white url('') 50% top repeat-x !important;
		border: none !important;
	}
	li:hover {
		background-color: white !important;
		border: none !important;
		margin-left: 0;
		cursor: pointer;
		text-align: left;
	}
}

.ui-widget-content {
	background-color: white !important;
	background: white url('') 50% top repeat-x !important;
}

