body#ep {
	.navbar {
		background-color: $blue-jeans;
	}
	// .dropdown-menu {
	// 	border: 0;
	// 	outline: none;
	// }
	// .navbar .nav > li > .dropdown-menu:before {
	// 	top: -100px;
	// }
	// .navbar .nav > li > .dropdown-menu:after {
	// 	top: -5px;
	// }
	.navbar .nav > li > a {
		text-shadow: none;
		color: white;
		background-color: $blue-jeans;
	}
	.brand, .brand:hover {
		color: white
	}
	.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
		background-color: $blue-jeans-light !important;
	}
	.nav-tabs > li {
		border: 0;
	}
	.navbar .nav > li > a {
		padding: 14px 10px;
	}
	.nav-tabs > li > a {
		border: none;
		border-radius: 0px;
		margin-right: 0px;
		-webkit-border-radius: 0px;
	}
}