@import 'config';

body#ep {
	.navbar {
		background-color: $blue-jeans;
	}
	.navbar-nav > li > a {
		color: white;
		background-color: $blue-jeans;
	}
	.navbar .navbar-brand, .navbar-brand:hover {
		color: white;
		font-size: 28px;
	}
	.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
		background-color: $blue-jeans-light !important;
	}
	.nav-tabs > li > a {
		border: none;
		border-radius: 0px;
		margin-right: 0px;
	}
	.navbar-toggle .icon-bar+.icon-bar {
		margin-top: 7px;
		background-color: white;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: white;
		border-color:  $blue-jeans;
	}
}