@import 'config';

.ep-edit-org-name {
  font-size: 14px;
}

.ep-user-info {
  &.ep-user-info--org {
    width: 254px !important;
    h3 {
      margin-bottom: 16px;
    }
    p {
      line-height: 10px;
    }
    width: 240px;
  }
}

.xpnd-not-your-address {
  margin-left: 223px;
  font-size: 12px;
}