@import 'config';

%ep-home-section {
	p {
		font-size: 16px;
	}
}

.ep-home-section__one {
	@extend %ep-home-section;
	background-color: #3BAFDA;
  height: auto;
  &.ep-home-section__one--home {
    height: 825px;
    background: url(green_apple-smaller.jpg) no-repeat top center;
    -webkit-background-size: 1920px 825px;
    -moz-background-size: 1920px 825px;
    -o-background-size: 1920px 825px;
    background-size: 1920px 825px;
  }
}

.ep-home-section__two {
	@extend %ep-home-section;
	background-color: white;
  height: 360px;
}

.ep-home-section__row {
	margin-top: 20px;
}

.ep-home-section__one-liner {
	margin-top: 20px;
	color: white;
	p {
		font-size: 34px;
	}
}

.ep-home-section__edpeople {
  font-size: 38px;
}

.ep-info-blurb {
  position: relative;
	margin-top: 120px;
	line-height: 26px;
  h2 {
    font-size: 20px;
  }
	i {
    position: absolute;
		font-size: 24px;
		color: rgb(52, 73, 94);
	}
	&.ep-info-blurb--first {
		i {
			color: rgb(52, 73, 94);
		}
	}
	&.ep-info-blurb__with-margin {
		margin-top: 60px;
	}
  img {
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
  }
}

.ep-info-blurb--small {
	margin-top: 50px;
	line-height: 30px;
	text-align: center;
	h3 {
		font-size: 20px;
	}
}

.ep-signin-signup {
	min-height: 333px;
	margin-top: 8px;
  background-color: #ecf0f1;
	z-index: 2;
  &.ep-signin-signup--home {
    background-color: rgba(0,0,0,0);
  }
	input {
		height: 54px;
		margin-bottom: 14px;
	}
	&.ep-signin-signup--signin-pw {
		min-height: 300px !important;
	}
	&.ep-signin-signup--signin {
		min-height: 320px;
	}
	&.ep-signin-signup--forgot-pw  {
		min-height: 260px;
	}
  &.ep-signin-signup--change-pw {
    min-height: 366px;
  }
	&.ep-signin-signup--resend {
		min-height: 320px;
	}
  &.ep-signin-signup--home {
    color: rgba(0,0,0,0);
  }
}

.ep-signin-signup__header {
	text-align: center;
  color: #96ceb4;
  &.ep-signin-signup__header--home {
    font-size: 34px;
  }
}

.ep-signin-signup__errors {
	color: #e67e22;
  &.ep-signin-signup__errors--home {
    color: white;
  }
	h2 {
		margin-left: 40px;
		font-size: 14px;
	}
	ul {
		margin-left: 18px;
	}
	p {
		text-align: center;
		font-size: 14px;
	}
}

.field_with_errors {
	display: inline; // Overriding devise
}
.ep-signin-signup__text-field-small {
	width: 184px;
}

.ep-signin-signup__text-field-small--right {
	margin-left: 9px;
}

.ep-signin-signup__text-field-large {
	width: 100%;
}

.ep-signin-signup__submit {
	background-color: #96ceb4;
	border-color: #96ceb4;
	border-radius: 0px;
	width: 100%;
	text-align: center;
	&:hover {
		border-color: darken(#96ceb4, 5%);
    background: darken(#96ceb4, 5%);
  }
}

.ep-signin-signup__submit__linkedin {
	@extend .ep-signin-signup__submit;
	background-color: #60C0E4;
	border-color: #60C0E4;
	height: 54px;
  line-height: 40px;
  a {
  	color: white !important;
  	i {
  		font-size: 20px;
  		color: white !important;
  	}
  }
	&:hover {
		border-color: darken(#60C0E4, 5%);
    background: darken(#60C0E4, 5%);
  }
}

.ep-signin-signup__submit-small {
	border-radius: 0px;
	color: white !important;
	height: 58px;
	line-height: 46px;
	width: 222px;
	text-align: center;
}

.ep-signin-signup__submit-small--right {
	margin-left: 9px;
}

.ep-links {
	margin-top: 5px;
	margin-bottom: 10px;
}

.ep-links.ep-links--white {
  i, a, span {
    color: white !important;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.ep-linkedin-icon {
	font-size: 20px;
	color: #3BAFDA;
	position: relative;
	top: 2px
}

.ep-navbar-sessions {
	margin-bottom: 0px;
}

.footer--sessions {
	margin-top:0px !important;
	border-top:1px solid white
}

p.ep-add-password-text {
  padding: 0 50px 10px 20px;
  font-size: 18px;
  color: gray;
}

p.ep-italic {
  font-style: italic;
}

.ep-form-actions--add-password {
  padding-left: 20px;
}

.ep-profile-section__hr-line {
  width:88%;
  height: 1px;
  border-bottom: 1px solid $ep-light-gray;
  margin: 0 20px;
}

.ep-org-field, .ep-create-a-user {
	display: none;
}

p.ep-confirmation-instructions {
	color:gray;
  font-size: 25px;
	padding: 10px 50px 30px 60px;
}
