.ep-profile-header {
	.ep-profile-image {
		margin: 20px;
		float: left;
	}
	.ep-user-info {
		float: left;
	}
	.ep-profile-actions {
		float: left;
		margin-top: 20px;
	}
}

@media only screen and (max-width: 767px) {
	.ep-profile-actions {
		text-align: center;
	}
}