.ep-profile-header {
	.ep-profile-image {
		margin: 20px;
		float: left;
	}
	.ep-user-info {
		float: left;
		width: 210px;
	}
	.ep-profile-actions {
		// color: $ep-blue;
		cursor: pointer;
		float: left;
		margin-top: 20px;
		i {
			font-size: 16px;
		}
		.ep-approve {
			font-size: 12px;
		}
	}
}

#ep-connection {
	position: relative;
	.ep-connection-choice {
		position: absolute;
		bottom: 1px;
		right: 10px;
		a.ep-approve { 
			color: $ep-light-blue;
			font-size: 10px;
		}
		a.ep-deny {
			color: $ep-orange;
			font-size: 10px;
		}
	}
}

.ep-profile-section-header {
	background-color: $ep-profile-section-header;
	h4 {
		padding: 5px 0px 5px 20px;
		a {
			font-size: 14px;
			font-weight: normal;
			margin-left: 5px;
		}
	}
}

.ep-profile-section-body {
	padding: 20px;
	p {
		margin: 0;
	}
	h5	{
		margin: 0;
		a {
			font-weight: normal;
			margin-left: 5px;
		}
	}
}

.ep-title-container {
	max-width: 500px;
}

.ep-connection {
	margin-top: 20px;
}

@media only screen and (max-width: 767px) {
	.ep-hr-line {
		border-top: 1px solid $ep-light-gray;
		margin: 0 auto;
		margin-bottom: 10px;
		width: 80%;
	}
	.ep-profile-actions {
		text-align: center;
	}
	.ep-user-info {
		margin-left: 20px;
	}
}