<p>
  <span>Facebook</span>
  <span>Twitter</span>
  <span>·</span>
  <span><%= link_to 'Terms', terms_path, style: 'color: white' %></span>
  <span><%= link_to 'Privacy Policy', privacy_policy_path, style: 'color: white' %></span>
</p>
