<p>
  <span><%= link_to 'Facebook', 'https://www.facebook.com/pages/Edpeople/330643180395826', style: 'color: white', target: '_blank' %></span>
  <span><%= link_to 'Twitter', 'https://twitter.com/edPeopleNYC', style: 'color: white', target: '_blank' %></span>
  <span>·</span>
  <span><%= link_to 'Terms', terms_path, style: 'color: white' %></span>
  <span><%= link_to 'Privacy Policy', privacy_policy_path, style: 'color: white' %></span>
  <span class="pull-right">Contact: info@edpeople.com</span>
</p>
